* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif; 
}
.wrapper {
    width: 100vw;
    height: 100vh;
}

.logo__text {
    color: white;
}
.logo__paragrapgh {
    color: white;
}

.button__style {
    background-color: rgb(93,84,163);
    color: white;
    cursor: pointer;
}
.form {
    background-color:rgb(254,254,255);
    border-radius: 8px;
}
.form__box--input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif; 

}
.form__button--style {
    color: white;
    background-color: rgb(55,204,138);
}

.condition__text--bold span {
    color: rgb(216,140,140);
}
.form__box--error  {
    color: rgb(250,121,116)
}
@media (min-width:375px) {
    .logo {
        margin-top:6.25rem;
    }
    .logo__text {
        text-align: center;
    }
    .logo__paragrapgh {
        text-align: center;
        margin-top: 1.5rem;
    }
    .button {
        margin-top: 4rem;
        padding: 0 auto;
        text-align: center;
    }
    .button__style {
        height: 5.4rem;
        width: 20.3rem;
        border-radius: 5px;
    }
    .button__style--text {
        font-weight: bold;
    }
    .form {
        margin-top: 1.5rem;
        height: 26rem;
        width: 20rem;
        padding: 0 auto;
    }
    .form__box {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form__box--input {
        height: 1rem;
        width: 17.25rem;
        padding: 1rem; 
        margin-top: 1rem;
    }
    .form__box--error {
        margin-top: .25rem;
    }
    .form__button {
        display: flex;
        margin:.75rem auto;
        justify-content: center;
    }
    .form__button--style {
        height: 2rem;
        width: 17.25rem;
        border-radius: 5px;
    }
    .condition {
        text-align: center;
        font-size: 0.625rem;
    }
    .condition__text {
        text-align: center;
          color:black;
    }
}

    